.main {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
}

.heading {
    grid-column: span 2;
}

.section, .trade {
    grid-column: span 1;
}

@media (max-width: 576px) {
    .section, .trade {
        grid-column: span 2;
    }
}